.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: rgb(0 0 0 / 60%);
  overflow: hidden;
  --animate-duration: 300ms;
}

.modalDialog {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  max-width: 600px;
  margin: 15px auto;
  background-color: #324135;
  border: 2px solid #17ca35;
  color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 2px 3px 0px rgb(23 202 53), 2px 4px 9px 0px rgb(23 202 53);
  --animate-duration: 300ms;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalHeader > img {
  width: 90%;
  max-width: 300px;
  border-radius: 50%;
}
.modalHeader > h1 {
  margin: 10px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.modalBody section > h4 {
  margin: 5px;
  color:  darkgray;
}
.modalBody section > p {
  margin: 5px;
}

@media (max-width: 768px) {
  .modalDialog {
    width: 80%;
  }  
}

@media (max-height: 730px) {
  .modalDialog {
    font-size: 10pt;
  }
  .modalDialog img {
    max-width: 200px;
  }
  .modalBody {
    gap: 0;
  }
}

