body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 70px  auto;
  width: 90%;
  max-width: 1000px;
}
header > h1 {
  color: darkgreen;
  text-align: center;
  font-weight: 900;
  font-size: 3em;
  margin: 0.3em 0;
}

main {
  background-color: black;
  background-image: url(/images/background.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.searchField {
  display: flex;
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
  width: 70%;
  transition: 0.2s;
}
.searchField:focus-within {
  box-shadow: 0px 0px 3px 0px rgb(48 99 23), 0px 0px 9px 0px rgb(48 99 23);
}
.searchField input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 14pt;
  color: #306317;
}
.searchField input::placeholder {
  color: lightgray;
}
.searchField svg {
  transition: 0.2s;
  fill: lightgray;
}
.searchField input:focus +svg {
  fill: #306317;
}

.card {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 40%;
  background-color: #354338f2;
  color: white;
  
  --animate-duration: 500ms;
}
.card > img {
  width: 190px;
}
.cardData {
  display: flex;
  font-size: 10pt;
  font-weight: 700;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 15px;
  padding: 10px;
}
.cardTitle > * {
  padding: 0;
  margin: 0;
}
.cardTitle > h2 {
  font-weight: bolder;
}
.cardTitle > div > span {
  vertical-align: middle;
}
.cardTitle > div > .statusIcon {
  font-size: 1.5em;
}
.cardInfo > * {
  padding: 0;
  margin: 0;
}
.cardInfo > h4 {
  color: #858585;
  margin-bottom: 5px;
}

#pagination {
  color: white;
  padding: 10px;
  background-color: #354338f2;
  display: inline-block;
  border-radius: 5px;
  margin: 10px;
  visibility: hidden;
}
#pagination a {
  color: #98b19d;
  font-weight: bold;
  text-decoration: none;
}

footer {
  background-color: #1f2821;
  color: darkgray;
  text-align: center;
  font-size: 0.75rem;
  padding: 20px 0;
}
footer > .counters {
  margin: 61px 0;
}
footer > .counters > span {
  display: inline-block;
  margin: 5px 20px;
}
footer > .developer {
  margin-top: 100px;
}
footer > .developer > em {
  font-style: normal;
  color: white;
}

/* utils */

.filter-green{
  fill: red;
  /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
}

/* media sizes */

@media (max-width: 1080px) {

  .card {
    flex-direction: column;
    align-items: center;
  }

  .cardData {
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #405344;
    flex-grow: 1;
  }
  
}

@media (max-width: 580px) {

  .card img {
    width: 100%
  }
  .cardData {
    display: none;
  }
  
  footer > .counters > span {
    margin: 5px 10px;
  }
}

@media (max-width: 400px) {
  .searchField input {
    width: 100%;
  }  
  .searchField img {
    display: none;
  }  
}

